{{! template-lint-disable require-input-label }}
<form {{on "submit" @onSubmit}} class="form" ...attributes>

  <div class="form__field">
    <PixTextarea
      @id="email"
      type="email"
      @value={{@email}}
      aria-invalid={{if this.emailError "true" "false"}}
      aria-describedby="email-error"
      class="invite-form__email-field"
      @requiredLabel={{t "common.form.mandatory-fields-title"}}
      {{on "change" @onUpdateEmail}}
    >
      <:label>{{t "pages.team-new-item.input-label"}}</:label>
    </PixTextarea>
    {{#if this.emailError}}
      <p id="email-error" class="invite-form__error-message">{{this.emailError}}</p>
    {{/if}}
  </div>

  <div class="form__validation">
    <PixButton @triggerAction={{@onCancel}} @variant="secondary">
      {{t "common.actions.cancel"}}
    </PixButton>
    <PixButton @triggerAction={{this.openModal}} @variant="secondary">
      {{t "pages.team-new-item.invite-button"}}
    </PixButton>
  </div>

  <PixModal
    class="invite-form__modal"
    @title={{t "pages.team-new.invite-form-modal.title"}}
    @showModal={{this.modalOpen}}
    @onCloseButtonClick={{this.closeModal}}
  >
    <:content>
      <p>{{t "pages.team-new.invite-form-modal.warning"}}</p>
      <p>{{t "pages.team-new.invite-form-modal.question"}}</p>
    </:content>

    <:footer>
      <PixButton @variant="secondary" @isBorderVisible={{true}} @triggerAction={{this.closeModal}}>
        {{t "common.actions.cancel"}}
      </PixButton>
      <PixButton @variant="secondary" @triggerAction={{@onSubmit}} @isLoading={{this.isLoading}}>{{t
          "pages.team-new.invite-form-modal.confirm"
        }}</PixButton>
    </:footer>
  </PixModal>
</form>