{{page-title "Sessions à publier"}}

{{#if this.hasSessionsToPublish}}
  <div class="session-to-be-publish__publish-all">
    <PixButton @triggerAction={{this.showConfirmModal}}>{{t
        "pages.sessions.table.to-be-published.button-label"
      }}</PixButton>
  </div>
{{/if}}

<ToBePublishedSessions::ListItems @toBePublishedSessions={{@model}} @publishSession={{this.publishSession}} />

<ConfirmPopup
  @message={{t "pages.sessions.table.to-be-published.modals.batch-publications" length=@model.length}}
  @confirm={{this.batchPublishSessions}}
  @cancel={{this.hideConfirmModal}}
  @show={{this.shouldShowModal}}
/>