{{page-title "Sessions à traiter"}}

{{#if this.hasSessionsToProcess}}
  <div class="session-list__assigned-to-process-session">
    <PixCheckbox @checked={{this.assignedToSelfOnly}} {{on "change" this.toggleAssignedSessionsDisplay}}>
      <:label>{{t "pages.sessions.table.required-actions.checkbox-label"}}</:label>
    </PixCheckbox>
  </div>
{{/if}}

<WithRequiredActionSessions::ListItems @withRequiredActionSessions={{this.sessionsList}} />