<PixTable @data={{@invitations}} @variant="certif" @caption={{t "pages.team-invitations.table.caption"}}>
  <:columns as |invitation context|>
    <PixTableColumn @context={{context}}>
      <:header>
        {{t "pages.team-invitations.table.labels.email-address"}}
      </:header>
      <:cell>
        {{invitation.email}}
      </:cell>
    </PixTableColumn>
    <PixTableColumn @context={{context}}>
      <:header>
        {{t "pages.team-invitations.table.labels.last-sending-date"}}
      </:header>
      <:cell>
        {{dayjs-format invitation.updatedAt "DD/MM/YYYY [-] HH:mm"}}
      </:cell>
    </PixTableColumn>
    <PixTableColumn @context={{context}}>
      <:header>
        {{t "pages.team-invitations.table.labels.actions"}}
      </:header>
      <:cell>
        <div class="invitations-list__actions">
          <PixTooltip @isInline={{true}}>
            <:triggerElement>
              <PixIconButton
                @ariaLabel={{t "pages.team-invitations.actions.resend-invitation"}}
                @iconName="refresh"
                @triggerAction={{fn @onResendInvitationButtonClicked invitation}}
                @withBackground={{true}}
                disabled={{invitation.isResendingInvitation}}
                aria-disabled={{invitation.isResendingInvitation}}
              />
            </:triggerElement>
            <:tooltip>
              {{t "pages.team-invitations.actions.resend-invitation"}}
            </:tooltip>
          </PixTooltip>

          <PixTooltip @isInline={{true}}>
            <:triggerElement>
              <PixIconButton
                @ariaLabel={{t "pages.team-invitations.actions.cancel-invitation"}}
                @iconName="delete"
                @plainIcon={{true}}
                @triggerAction={{fn @onCancelInvitationButtonClicked invitation}}
                @withBackground={{true}}
              />
            </:triggerElement>
            <:tooltip>
              {{t "pages.team-invitations.actions.cancel-invitation"}}
            </:tooltip>
          </PixTooltip>
        </div>
      </:cell>
    </PixTableColumn>
  </:columns>
</PixTable>