{{! template-lint-disable style-concatenation no-inline-styles }}
<div class="challenge-embed-simulator">
  {{#if @hideSimulator}}
    <div class="challenge-embed-simulator__overlay"></div>
  {{/if}}

  <iframe
    tabindex={{if @hideSimulator "-1"}}
    class="challenge-embed-simulator__iframe"
    src="{{@url}}"
    title="{{@title}}"
    style="{{this.embedDocumentHeightStyle}}"
    {{did-render this.setIframeHtmlElement}}
  >
  </iframe>
  {{#if @shouldDisplayRebootButton}}
    <div class="reboot-container">
      <button
        type="button"
        class="link link--grey reboot-container__content"
        aria-label={{t "pages.challenge.embed-simulator.actions.reset-label"}}
        {{on "click" this.rebootSimulator}}
      >
        <PixIcon @name="refresh" @ariaHidden={{true}} class="embed-reboot-content__icon" />
        {{t "components.challenge.embed-simulator.actions.reset"}}
      </button>
    </div>
  {{/if}}
</div>