<li class="session-supervising-candidate-in-list">
  <div class="session-supervising-candidate-in-list__candidate-data">
    <div class="session-supervising-candidate-in-list__status">
      {{#if @candidate.hasStarted}}
        {{#if @candidate.currentLiveAlert}}
          <PixTag @color="error">
            {{this.currentLiveAlertLabel}}
          </PixTag>
          <PixTag @color="yellow">
            {{t "common.forms.certification-labels.candidate-status.on-hold"}}
          </PixTag>
        {{else}}
          <PixTag @color="green">
            {{t "common.forms.certification-labels.candidate-status.ongoing"}}
          </PixTag>
        {{/if}}
      {{/if}}
      {{#if @candidate.hasCompleted}}
        <PixTag @color="blue">{{t "common.forms.certification-labels.candidate-status.finished"}}</PixTag>
      {{/if}}
    </div>
    <div class="session-supervising-candidate-in-list__infos">
      <div class="session-supervising-candidate-in-list__top-information">
        <div class="session-supervising-candidate-in-list__full-name">
          {{@candidate.lastName}}
          {{@candidate.firstName}}
        </div>
      </div>

      <div class="session-supervising-candidate-in-list__middle-information">
        <p>{{dayjs-format @candidate.birthdate "DD/MM/YYYY"}}</p>
        {{#if this.shouldDisplayEnrolledComplementaryCertification}}
          <p class="session-supervising-candidate-in-list-details__enrolment">
            <PixIcon
              @name="awards"
              @ariaHidden={{true}}
              class="session-supervising-candidate-in-list-details-enrolment__icon"
            />
            {{t
              "pages.session-supervising.candidate-in-list.complementary-certification-enrolment"
              complementaryCertification=this.enrolledCertificationLabel
            }}
          </p>
        {{/if}}
        {{#if this.shouldDisplayNonEligibilityWarning}}
          <PixNotificationAlert @type="warning" @withIcon={{true}}>
            {{t "pages.session-supervising.candidate-in-list.double-certification-non-eligibility-warning"}}
          </PixNotificationAlert>
        {{/if}}
      </div>

      {{#if @candidate.hasStarted}}
        <div class="session-supervising-candidate-in-list__bottom-information">
          <div class="session-supervising-candidate-in-list-details-time">
            <div class="session-supervising-candidate-in-list-details-time__text">
              <PixIcon
                @name="time"
                @ariaHidden={{true}}
                class="session-supervising-candidate-in-list-details-time__clock"
              />
              <span>
                {{t "pages.session-supervising.candidate-in-list.start-date-time"}}
                <time>{{this.candidateStartTime}}</time>
              </span>
              <span class="session-supervising-candidate-in-list-details-time__text__end-date-time">
                {{t "pages.session-supervising.candidate-in-list.end-date-time"}}
                <time>{{this.candidateTheoricalEndDateTime}}</time>
              </span>
            </div>
            {{#if @candidate.extraTimePercentage}}
              <PixTag @color="grey">
                {{t
                  "pages.session-supervising.candidate-in-list.extratime"
                  extraTimePercentage=(format-percentage @candidate.extraTimePercentage)
                }}
              </PixTag>
            {{/if}}
          </div>

          {{#if @candidate.hasOngoingChallengeLiveAlert}}
            <PixButton @triggerAction={{this.askUserToHandleLiveAlert}} @variant="error">
              {{t "pages.session-supervising.candidate-in-list.resume-test-modal.live-alerts.handle-challenge"}}
            </PixButton>
          {{/if}}
        </div>
      {{/if}}
      {{#if this.isConfirmButtonToBeDisplayed}}
        <PixButton
          aria-label={{this.authorizationButtonAriaLabel}}
          @triggerAction={{fn this.toggleCandidate @candidate}}
          @variant={{this.authorizationButtonBackgroundColor}}
          @isBorderVisible={{@candidate.authorizedToStart}}
          class="session-supervising-candidate-in-list__confirm-button"
        >
          {{this.authorizationButtonLabel}}
        </PixButton>
      {{/if}}
    </div>
  </div>

  {{#if this.optionsMenuShouldBeDisplayed}}
    <div class="session-supervising-candidate-in-list__menu">
      <PixIconButton
        @size="small"
        @iconName="moreVert"
        @ariaLabel={{t "pages.session-supervising.candidate-in-list.display-candidate-options"}}
        @triggerAction={{this.toggleMenu}}
      />
      <Dropdown::Content
        @display={{this.isMenuOpen}}
        @close={{this.closeMenu}}
        aria-label={{t "pages.session-supervising.candidate-in-list.candidate-options"}}
      >
        {{#if @candidate.hasOngoingCompanionLiveAlert}}
          <Dropdown::Item @onClick={{this.askUserToHandleCompanionLiveAlert}}>
            {{t "pages.session-supervising.candidate-in-list.resume-test-modal.live-alerts.handle-companion"}}
          </Dropdown::Item>
        {{/if}}

        <Dropdown::Item @onClick={{this.askUserToConfirmTestResume}}>
          {{t "pages.session-supervising.candidate-in-list.resume-test-modal.allow-test-resume"}}
        </Dropdown::Item>

        <Dropdown::Item @onClick={{this.askUserToConfirmTestEnd}}>
          {{t "pages.session-supervising.candidate-in-list.test-end-modal.end-assessment"}}
        </Dropdown::Item>
      </Dropdown::Content>
    </div>
  {{/if}}

  <SessionSupervising::ConfirmationModal
    @showModal={{this.isConfirmationModalDisplayed}}
    @closeConfirmationModal={{this.closeConfirmationModal}}
    @actionOnConfirmation={{this.actionMethod}}
    @candidate={{this.candidate}}
    @modalCancelText={{this.modalCancelText}}
    @modalConfirmationButtonText={{this.modalConfirmationText}}
    @title={{this.modalInstructionText}}
  >
    <:description>
      {{this.modalDescriptionText}}
    </:description>
  </SessionSupervising::ConfirmationModal>

  {{#if @candidate.hasOngoingChallengeLiveAlert}}
    <SessionSupervising::HandleLiveAlertModal
      @showModal={{this.isHandleLiveAlertModalDisplayed}}
      @closeConfirmationModal={{this.closeHandleLiveAlertModal}}
      @title={{this.candidateFullName}}
      @rejectLiveAlert={{this.rejectLiveAlert}}
      @validateLiveAlert={{this.validateLiveAlert}}
      @candidateId={{@candidate.id}}
      @liveAlert={{@candidate.challengeLiveAlert}}
    />
  {{/if}}

  <SessionSupervising::LiveAlertHandledModal
    @showModal={{this.isLiveAlertHandledModalDisplayed}}
    @closeConfirmationModal={{this.closeHandleLiveAlertModal}}
    @candidateFullName={{this.candidateFullName}}
    @isLiveAlertValidated={{this.isLiveAlertValidated}}
  />

  <SessionSupervising::CompanionLiveAlertModal
    @showModal={{this.isHandleCompanionLiveAlertModalDisplayed}}
    @closeConfirmationModal={{this.closeHandleLiveAlertModal}}
    @candidateFullName={{this.candidateFullName}}
    @clearedLiveAlert={{this.clearedLiveAlert}}
  />

</li>