{{page-title "Certif " @model.id " Neutralisation | Pix Admin" replace=true}}

{{#if this.model.answers}}
  <PixTable
    @variant="primary"
    @data={{this.model.answers}}
    @caption={{t "pages.certifications.certification.neutralization.table.caption"}}
  >
    <:columns as |answer context|>
      <PixTableColumn @context={{context}}>
        <:header>
          Numéro de question
        </:header>
        <:cell>
          {{answer.order}}
        </:cell>
      </PixTableColumn>
      <PixTableColumn @context={{context}}>
        <:header>
          RecId de l'épreuve
        </:header>
        <:cell>
          {{answer.challengeId}}
        </:cell>
      </PixTableColumn>
      {{#if this.accessControl.hasAccessToCertificationActionsScope}}
        <PixTableColumn @context={{context}}>
          <:header>
            Action
          </:header>
          <:cell>
            {{#if answer.isNeutralized}}
              <PixButton
                @triggerAction={{fn this.deneutralize answer.challengeId answer.order}}
                @variant="secondary"
                @loading-color="grey"
                @size="small"
              >
                Dé-neutraliser
              </PixButton>
            {{else}}
              <PixButton
                @triggerAction={{fn this.neutralize answer.challengeId answer.order}}
                @variant="primary"
                @loading-color="white"
                @size="small"
              >
                Neutraliser
              </PixButton>
            {{/if}}
          </:cell>
        </PixTableColumn>
      {{/if}}
    </:columns>
  </PixTable>
{{else}}
  <div class="table__empty">Aucune épreuve posée.</div>
{{/if}}