{{#if this.showOrganizationsFiltersForm}}
  {{outlet}}
{{else}}
  <div class="training-target-profiles">
    {{#if this.canAttachTargetProfiles}}
      <section class="page-section">
        <header class="page-section__header">
          <h2 class="page-section__title">Rattacher un ou plusieurs profil(s) cible(s)</h2>
        </header>
        <div>
          <form class="training__sub-form form" {{on "submit" this.attachTargetProfiles}}>
            <PixInput
              @value={{this.targetProfilesToAttach}}
              @screenReaderOnly={{true}}
              class="training-sub-form__input form-field__text form-control"
              placeholder="1, 2"
              {{on "input" this.onChangeTargetProfilesToAttach}}
            >
              <:label>ID du ou des profil(s) cible(s)</:label>
            </PixInput>
            <PixButton @type="submit" @size="small" @isDisabled={{this.noTargetProfilesToAttach}}>Valider</PixButton>
          </form>
        </div>
      </section>
    {{/if}}

    <section class="page-section">
      <header class="page-section__header">
        <h2 id="page-section-title" class="page-section__title">{{t
            "pages.trainings.training.targetProfiles.tabName"
          }}</h2>
      </header>
      {{#if @model.targetProfileSummaries}}
        <PixTable
          @variant="admin"
          @data={{@model.training.sortedTargetProfileSummaries}}
          @caption="Profil cible associé au contenu"
          class="training-target-profiles-table"
        >
          <:columns as |row context|>
            <PixTableColumn @context={{context}} class="table__column--wide">
              <:header>
                ID
              </:header>
              <:cell>
                {{row.id}}
              </:cell>
            </PixTableColumn>
            <PixTableColumn @context={{context}} class="table__column--wide">
              <:header>
                Nom interne du profil cible
              </:header>
              <:cell>
                <LinkTo @route="authenticated.target-profiles.target-profile" @model={{row.id}}>
                  {{row.internalName}}
                </LinkTo>
              </:cell>
            </PixTableColumn>
            <PixTableColumn @context={{context}} class="table__column--wide">
              <:header>
                Statut
              </:header>
              <:cell>
                {{if row.outdated "Obsolète" "Actif"}}
              </:cell>
            </PixTableColumn>
            <PixTableColumn @context={{context}} class="table__column--wide">
              <:header>
                Actions
              </:header>
              <:cell>
                <div class="training-target-profiles-table__actions">
                  {{#if this.displayFilterOrganizationsLink}}
                    <PixButtonLink
                      @variant="primary-bis"
                      @route="authenticated.trainings.training.target-profiles.organizations"
                      @model={{row.id}}
                    >Filtrer par organisations
                    </PixButtonLink>
                  {{/if}}
                  <PixButton @variant="error" @iconBefore="delete" @triggerAction={{fn this.detachTargetProfile row}}>
                    Détacher
                  </PixButton>
                </div>
              </:cell>
            </PixTableColumn>
          </:columns>
        </PixTable>
      {{else}}
        <div class="table__empty">Aucun profil cible associé à ce contenu formatif</div>
      {{/if}}
    </section>
  </div>
{{/if}}