{{page-title (t "pages.sign-up.title")}}

<AuthenticationLayout class="signup-page-layout">
  <:header>
    <PixButtonLink @variant="secondary" @route="authentication.login">
      {{t "pages.sign-up.actions.login"}}
    </PixButtonLink>
  </:header>

  <:content>
    <h1 class="pix-title-m">{{t "pages.sign-up.first-title"}}</h1>
    <Authentication::SignupForm @user={{@model}} />
    <Authentication::OtherAuthenticationProviders @isForSignup={{true}} />
  </:content>
</AuthenticationLayout>