{{page-title (t "pages.team-list.title")}}

<div class="list-team-page">
  <Ui::PageTitle>
    <:title>{{t "pages.team-list.title"}}</:title>
    <:tools>
      {{#if this.currentUser.isAdminInOrganization}}
        <PixButtonLink @route="authenticated.team.new">
          {{t "pages.team-list.add-member-button"}}
        </PixButtonLink>
      {{/if}}
    </:tools>
  </Ui::PageTitle>

  {{#if this.currentUser.isAdminInOrganization}}
    <PixTabs @variant="orga" class="list-team-page__tabs" @ariaLabel={{t "navigation.team-members.aria-label"}}>
      <LinkTo @route="authenticated.team.list.members">
        {{t "pages.team-list.tabs.member" count=@model.memberships.meta.rowCount}}
      </LinkTo>

      <LinkTo @route="authenticated.team.list.invitations">
        {{t "pages.team-list.tabs.invitation" count=@model.organization.organizationInvitations.length}}
      </LinkTo>
    </PixTabs>
  {{/if}}

  {{outlet}}
</div>