{{page-title "Centre " @model.certificationCenter.id}}
<header class="page-header">
  <CertificationCenters::Breadcrumb @currentPageLabel={{@model.certificationCenter.name}} />
</header>

<main class="page-body" id="certification-center-get-page">
  <CertificationCenters::Information
    @availableHabilitations={{this.model.habilitations}}
    @certificationCenter={{this.model.certificationCenter}}
    @updateCertificationCenter={{this.updateCertificationCenter}}
    @refreshModel={{this.refresh}}
  />

  {{#unless this.model.certificationCenter.isArchived}}
    <PixTabs @variant="primary" @ariaLabel="Navigation de la section centre de certification" class="navigation">
      <LinkTo @route="authenticated.certification-centers.get.team">
        Équipe
      </LinkTo>

      <LinkTo @route="authenticated.certification-centers.get.invitations">
        Invitations
      </LinkTo>
    </PixTabs>
  {{/unless}}

  {{outlet}}
</main>