<button
  class="action-chip {{if @isCompleted 'action-chip--selected' ''}}"
  aria-label={{@title}}
  title={{@title}}
  type="button"
  {{on "click" this.triggerAction}}
  disabled={{this.isTriggering}}
  aria-disabled={{this.isTriggering}}
>
  <PixIcon @name={{@icon}} @plainIcon={{if @isCompleted true false}} @ariaHidden={{true}} class="action-chip__icon" />
</button>