<section class="certification-starter">
  <h1 class="certification-start-page__title">{{t "pages.certification-start.first-title"}}</h1>

  {{#if @certificationCandidateSubscription.hasSubscription}}
    {{#unless @certificationCandidateSubscription.isV3CoreOnly}}
      <div class="certification-starter-subscriptions">
        <div class="certification-starter-subscriptions-container">
          <p class="certification-starter-subscriptions-container-title">
            {{this.subscriptionTitle}}
          </p>
          <div class="certification-starter-subscriptions-container-items">

            {{#if (gt @certificationCandidateSubscription.eligibleSubscriptions.length 0)}}
              <span class="certification-starter-subscriptions-container-items__eligible-item">
                <PixIcon
                  @name="checkCircle"
                  @plainIcon={{true}}
                  @ariaHidden={{true}}
                  class="certification-starter-subscriptions-container-items__eligible-icon"
                />
                {{this.complementarySubscriptionLabel}}
              </span>
            {{else}}
              <span class="certification-starter-subscriptions-container-items__non-eligible-item">
                <PixIcon
                  @name="checkCircle"
                  @plainIcon={{true}}
                  @ariaHidden={{true}}
                  class="certification-starter-subscriptions-container-items__non-eligible-icon"
                />
                {{@certificationCandidateSubscription.nonEligibleSubscription.label}}
              </span>
            {{/if}}
          </div>
        </div>
        {{#if @certificationCandidateSubscription.nonEligibleSubscription}}
          <div class="certification-starter-subscriptions-container__non-eligible">
            <PixIcon
              @name="error"
              @plainIcon={{true}}
              @ariaHidden={{true}}
              class="certification-starter-subscriptions-container__info-icon"
            />
            <span>
              {{t
                "pages.certification-start.non-eligible-subscription"
                nonEligibleSubscriptionLabel=@certificationCandidateSubscription.nonEligibleSubscription.label
              }}
            </span>
          </div>
        {{/if}}
      </div>
    {{/unless}}
  {{/if}}

  <form class="certification-start-page__form" autocomplete="off">
    <PixLabel for="certificationStarterSessionCode" @requiredLabel={{t "common.form.mandatory"}}>
      {{t "pages.certification-start.access-code"}}
    </PixLabel>
    <PixCode
      @id="certificationStarterSessionCode"
      @length="6"
      @requiredLabel={{true}}
      @value={{this.inputAccessCode}}
      @validationStatus={{this.validationStatus}}
      @errorMessage={{this.validationErrorMessage}}
      {{on "keyup" this.clearErrorMessage}}
      {{on "input" this.handleAccessCodeInput}}
    />

    {{#if this.apiErrorMessage}}
      <PixNotificationAlert @type="error" @withIcon={{true}} class="certification-start-page__error-message">
        {{this.apiErrorMessage}}
      </PixNotificationAlert>
    {{/if}}
    {{#if this.technicalErrorInformation}}
      <details class="certification-start-page__information">
        <summary>{{t "pages.certification-start.error-messages.unknown.summary-label"}}</summary>
        <p>{{this.technicalErrorInformation}}</p>
      </details>
    {{/if}}

    <PixButton @type="submit" @triggerAction={{this.submit}} class="certification-start-page__field-button">
      {{t "pages.certification-start.actions.submit"}}
    </PixButton>
  </form>

  <div class="certification-start-page__cgu">
    <p>
      {{t "pages.certification-start.cgu.info"}}
    </p>
    <p>
      {{t "pages.certification-start.cgu.contact.info"}}
      <a href="mailto:{{t 'pages.certification-start.cgu.contact.email'}}">{{t
          "pages.certification-start.cgu.contact.email"
        }}</a>.
    </p>
  </div>
</section>