{{! template-lint-disable require-input-label no-unknown-arguments-for-builtin-components no-bare-strings }}
<div class="form-textfield">
  <label class="form-textfield__label">
    {{@label}}
    {{#if @require}}<abbr title="{{t 'common.form.mandatory'}}" class="mandatory-mark">*</abbr> {{/if}}
    <br />
  </label>

  <div class="form-textfield__date">
    <PixInput
      min="1"
      max="31"
      id={{@dayTextfieldName}}
      type="number"
      @value={{@dayValue}}
      name={{@dayTextfieldName}}
      {{on "focusout" (fn @onValidateDay @dayTextfieldName @dayValue)}}
      {{on "input" @onDayInput}}
      aria-describedby={{@aria-describedby}}
      @validationStatus={{@dayValidationStatus}}
      required={{@require}}
      disabled={{@disabled}}
      aria-label={{t "pages.login-or-register.register-form.fields.birthdate.day.label"}}
      placeholder={{t "pages.login-or-register.register-form.fields.birthdate.day.placeholder"}}
    />

    <PixInput
      min="1"
      max="12"
      id={{@monthTextfieldName}}
      type="number"
      @value={{@monthValue}}
      name={{@monthTextfieldName}}
      {{on "focusout" (fn @onValidateMonth @monthTextfieldName @monthValue)}}
      {{on "input" @onMonthInput}}
      aria-describedby={{@aria-describedby}}
      @validationStatus={{@monthValidationStatus}}
      required={{@require}}
      disabled={{@disabled}}
      aria-label={{t "pages.login-or-register.register-form.fields.birthdate.month.label"}}
      placeholder={{t "pages.login-or-register.register-form.fields.birthdate.month.placeholder"}}
    />

    <PixInput
      min="1900"
      id={{@yearTextfieldName}}
      type="number"
      @value={{@yearValue}}
      name={{@yearTextfieldName}}
      {{on "focusout" (fn @onValidateYear @yearTextfieldName @yearValue)}}
      {{on "input" @onYearInput}}
      @validationStatus={{@yearValidationStatus}}
      aria-describedby={{@aria-describedby}}
      required={{@require}}
      disabled={{@disabled}}
      aria-label={{t "pages.login-or-register.register-form.fields.birthdate.year.label"}}
      placeholder={{t "pages.login-or-register.register-form.fields.birthdate.year.placeholder"}}
    />
  </div>

  {{#if @dayValidationMessage}}
    <div
      id="dayValidationMessage"
      class="form-textfield__message {{this.dayValidationMessageClass}}"
      role="alert"
    >{{@dayValidationMessage}}</div>
  {{/if}}

  {{#if @monthValidationMessage}}
    <div
      id="monthValidationMessage"
      class="form-textfield__message {{this.monthValidationMessageClass}}"
      role="alert"
    >{{@monthValidationMessage}}</div>
  {{/if}}

  {{#if @yearValidationMessage}}
    <div
      id="yearValidationMessage"
      class="form-textfield__message {{this.yearValidationMessageClass}}"
      role="alert"
    >{{@yearValidationMessage}}</div>
  {{/if}}
</div>