<div class="rounded-panel rounded-panel--no-margin-bottom timed-challenge-instructions">
  <h1 class="timed-challenge-instructions__primary">
    {{t "pages.timed-challenge-instructions.primary" time=this.allocatedTime htmlSafe=true}}
  </h1>

  <p class="timed-challenge-instructions__secondary">
    {{t "pages.timed-challenge-instructions.secondary"}}
  </p>

  <div class="timed-challenge-instructions__allocated-time">
    <PixIcon @name="clock" @ariaHidden={{true}} class="timed-challenge-instructions-allocated-time__icon" />
    <span>{{this.allocatedTime}}</span>
  </div>

  <PixButton
    @triggerAction={{@hasUserConfirmedWarning}}
    class="timed-challenge-instructions-action__confirmation-button"
    @variant="success"
  >
    {{t "pages.timed-challenge-instructions.action"}}
  </PixButton>
</div>