{{! template-lint-disable require-input-label }}
<h1 class="join-restricted-campaign__sco-title">{{t
    "pages.join.sco.first-title"
    organizationName=@organizationName
  }}</h1>
<div class="join-restricted-campaign__subtitle">{{t "pages.join.sco.subtitle"}}</div>
<form onSubmit={{this.validateForm}}>
  <PixInput
    @id="firstName"
    type="text"
    @value={{this.firstName}}
    placeholder={{t "pages.join.fields.firstname.label"}}
    readonly={{@areNamesDisabled}}
    disabled={{@areNamesDisabled}}
    @validationStatus={{if this.validation.firstName "error" "default"}}
    @errorMessage={{this.validation.firstName}}
    {{on "focusout" (fn this.triggerInputStringValidation "firstName" this.firstName)}}
    {{on "input" this.handleFirstNameInput}}
  >
    <:label>{{t "pages.join.fields.firstname.label"}}</:label>
  </PixInput>

  <PixInput
    id="lastName"
    type="text"
    @value={{this.lastName}}
    placeholder={{t "pages.join.fields.lastname.label"}}
    readonly={{@areNamesDisabled}}
    disabled={{@areNamesDisabled}}
    @validationStatus={{if this.validation.lastName "error" "default"}}
    @errorMessage={{this.validation.lastName}}
    {{on "focusout" (fn this.triggerInputStringValidation "lastName" this.lastName)}}
    {{on "input" this.handleLastNameInput}}
  >
    <:label>{{t "pages.join.fields.lastname.label"}}</:label>
  </PixInput>

  <div>
    <p class="join-restricted-campaign__label">{{t "pages.join.fields.birthdate.label"}}</p>
    <div class="join-restricted-campaign__birthdate">
      <PixInput
        id="dayOfBirth"
        type="text"
        placeholder={{t "pages.join.fields.birthdate.day-format"}}
        @value={{this.dayOfBirth}}
        @validationStatus={{if this.validation.dayOfBirth "error" "default"}}
        @screenReaderOnly={{true}}
        {{on "focusout" (fn this.triggerInputDayValidation "dayOfBirth" this.dayOfBirth)}}
        {{on "input" this.handleDayOfBirthInput}}
      >
        <:label>{{t "pages.join.fields.birthdate.day-label"}}</:label>
      </PixInput>
      <PixInput
        id="monthOfBirth"
        type="text"
        placeholder={{t "pages.join.fields.birthdate.month-format"}}
        @value={{this.monthOfBirth}}
        @validationStatus={{if this.validation.monthOfBirth "error" "default"}}
        @screenReaderOnly={{true}}
        {{on "focusout" (fn this.triggerInputMonthValidation "monthOfBirth" this.monthOfBirth)}}
        {{on "input" this.handleMonthOfBirthInput}}
      >
        <:label>{{t "pages.join.fields.birthdate.month-label"}}</:label>
      </PixInput>
      <PixInput
        id="yearOfBirth"
        type="text"
        placeholder={{t "pages.join.fields.birthdate.year-format"}}
        @value={{this.yearOfBirth}}
        @validationStatus={{if this.validation.yearOfBirth "error" "default"}}
        @screenReaderOnly={{true}}
        {{on "focusout" (fn this.triggerInputYearValidation "yearOfBirth" this.yearOfBirth)}}
        {{on "input" this.handleYearOfBirthInput}}
      >
        <:label>{{t "pages.join.fields.birthdate.year-label"}}</:label>
      </PixInput>
    </div>
    <div class={{if this.validation.dayOfBirth "join-restricted-campaign__field-error"}} role="alert">
      {{this.validation.dayOfBirth}}
    </div>
    <div class={{if this.validation.monthOfBirth "join-restricted-campaign__field-error"}} role="alert">
      {{this.validation.monthOfBirth}}
    </div>
    <div class={{if this.validation.yearOfBirth "join-restricted-campaign__field-error"}} role="alert">
      {{this.validation.yearOfBirth}}
    </div>
  </div>

  {{#if @errorMessage}}
    <div class="join-restricted-campaign__error" aria-live="polite">{{@errorMessage}}</div>
  {{/if}}
  <div class="join-restricted-campaign__actions">
    <PixButton @type="submit" @isLoading={{this.isLoading}}>{{t "pages.join.button"}}</PixButton>
  </div>

  <p class="legal-notice">
    {{t "pages.join.rgpd-legal-notice"}}
    <a
      href="{{t 'pages.join.rgpd-legal-notice-url'}}"
      target="_blank"
      rel="noopener noreferrer"
      class="link--underline"
    >
      {{t "pages.join.rgpd-legal-notice-link"}}
    </a>
  </p>

</form>