<div class="user-tutorials-banner">
  <section class="global-page-header">
    <div class="global-page-header__left-content">
      <h1 class="global-page-header__title">{{t "pages.user-tutorials.title"}}</h1>
      <p class="global-page-header__description">
        {{t "pages.user-tutorials.description"}}
      </p>
    </div>
  </section>

  <ul class="user-tutorials-banner__filters">
    <li class="user-tutorials-banner-filters__filter">
      <ChoiceChip @route="authenticated.user-tutorials.recommended">
        {{t "pages.user-tutorials.recommended"}}
      </ChoiceChip>
    </li>
    <li class="user-tutorials-banner-filters__filter">
      <ChoiceChip @route="authenticated.user-tutorials.saved">
        {{t "pages.user-tutorials.saved"}}
      </ChoiceChip>
    </li>
    {{#if @shouldShowFilterButton}}
      <li class="user-tutorials-banner-filters__filter">
        <PixButton @variant="secondary" @isBorderVisible={{false}} @triggerAction={{@onTriggerFilterButton}}>
          {{t "pages.user-tutorials.filter"}}
        </PixButton>
      </li>
    {{/if}}
  </ul>
</div>