<div class="user-tutorials-banner">
  <Ui::PageTitle>
    <:title>{{t "pages.user-tutorials.title"}}</:title>
    <:subtitle>{{t "pages.user-tutorials.description"}}</:subtitle>
  </Ui::PageTitle>

  <ul class="user-tutorials-banner__filters">
    <li class="user-tutorials-banner-filters__filter">
      <ChoiceChip @route="authenticated.user-tutorials.recommended">
        {{t "pages.user-tutorials.recommended"}}
      </ChoiceChip>
    </li>
    <li class="user-tutorials-banner-filters__filter">
      <ChoiceChip @route="authenticated.user-tutorials.saved">
        {{t "pages.user-tutorials.saved"}}
      </ChoiceChip>
    </li>
    {{#if @shouldShowFilterButton}}
      <li class="user-tutorials-banner-filters__filter">
        <PixButton @variant="secondary" @isBorderVisible={{false}} @triggerAction={{@onTriggerFilterButton}}>
          {{t "pages.user-tutorials.filter"}}
        </PixButton>
      </li>
    {{/if}}
  </ul>
</div>