{{page-title (t "pages.challenge.title")}}
<div class="container">
  <RobotDialog @class={{this.robotMood}}>
    {{#each @challenge.instruction as |instruction index|}}
      <Bubble
        @message={{instruction}}
        @oralization={{@oralization}}
        @shouldDisplayIn={{this.displayBubbleWithDelay index}}
      />
    {{/each}}
    {{#if (eq this.answer.result "ok")}}
      <Bubble
        @message={{t "pages.challenge.messages.correct-answer"}}
        @status="success"
        @oralization={{@oralization}}
        aria-live="polite"
      />
    {{/if}}
    {{#if (eq this.answer.result "ko")}}
      <Bubble
        @message={{t "pages.challenge.messages.wrong-answer"}}
        @oralization={{@oralization}}
        @status="error"
        aria-live="polite"
      />
    {{/if}}
    {{#if this.displayValidationWarning}}
      <Bubble @message={{this.validationWarning}} @status="warning" aria-live="polite" @oralization={{@oralization}} />
    {{/if}}
  </RobotDialog>
  <Challenge::Item
    @display={{this.displayChallenge}}
    @setAnswerValue={{this.setAnswerValue}}
    @setValidationWarning={{this.setValidationWarning}}
    @validateAnswer={{this.validateAnswer}}
    @skipChallenge={{this.skipChallenge}}
    @challenge={{@challenge}}
    @assessment={{@assessment}}
    @disableCheckButton={{this.disableCheckButton}}
    @disableLessonButton={{this.disableLessonButton}}
    @answerHasBeenValidated={{this.answerHasBeenValidated}}
    @activity={{@activity}}
    @resume={{this.resume}}
    @isDisabled={{this.hasBeenAnswered}}
  />
</div>