{{page-title "Outils"}}

<div class="page tools">
  <header>
    <h1>Outils</h1>
  </header>

  <main class="page-body">
    <PixTabs @variant="primary" @ariaLabel={{t "pages.administration.navigation.aria-label"}} class="navigation">
      <LinkTo @route="authenticated.tools.campaigns">
        {{t "pages.administration.navigation.campaigns.label"}}
      </LinkTo>
      <LinkTo @route="authenticated.tools.certification">
        {{t "pages.administration.navigation.certification.label"}}
      </LinkTo>
      <LinkTo @route="authenticated.tools.junior">
        {{t "pages.administration.navigation.junior.label"}}
      </LinkTo>
    </PixTabs>

    {{outlet}}
  </main>
</div>