<div class="join-restricted-campaign__title">{{t "pages.join.sup.title" organizationName=@organizationName}}</div>
<div class="join-restricted-campaign__subtitle">{{t "pages.join.sup.message" organizationName=@organizationName}}</div>
<form>
  <PixInput
    @id="studentNumber"
    type="text"
    @value={{this.studentNumber}}
    @errorMessage={{this.errors.studentNumber}}
    @validationStatus={{if this.errors.studentNumber "error" "default"}}
    class={{if this.errors.studentNumber "input--error"}}
    {{on "focusout" (fn this.triggerInputStringValidation "studentNumber" this.studentNumber)}}
    {{on "input" this.handleStudentNumberInput}}
  >
    <:label>{{t "pages.join.sup.fields.student-number.label"}}</:label>
  </PixInput>

  <PixInput
    @id="firstName"
    type="text"
    @value={{this.firstName}}
    @errorMessage={{this.errors.firstName}}
    @validationStatus={{if this.errors.firstName "error" "default"}}
    class={{if this.errors.firstName "input--error"}}
    {{on "focusout" (fn this.triggerInputStringValidation "firstName" this.firstName)}}
    {{on "input" this.handleFirstNameInput}}
  >
    <:label>
      {{t "pages.join.fields.firstname.label"}}
    </:label>
  </PixInput>

  <PixInput
    @id="lastName"
    type="text"
    @value={{this.lastName}}
    class={{if this.errors.lastName "input--error"}}
    @errorMessage={{this.errors.lastName}}
    @validationStatus={{if this.errors.lastName "error" "default"}}
    {{on "focusout" (fn this.triggerInputStringValidation "lastName" this.lastName)}}
    {{on "input" this.handleLastNameInput}}
  >
    <:label>
      {{t "pages.join.fields.lastname.label"}}
    </:label>
  </PixInput>

  <div class="join-restricted-campaign__row">
    <label class="join-restricted-campaign__label">
      {{t "pages.join.fields.birthdate.label"}}
    </label>
    <div class="join-restricted-campaign__birthdate">
      <PixInput
        type="text"
        @value={{this.dayOfBirth}}
        placeholder={{t "pages.join.fields.birthdate.day-format"}}
        @screenReaderOnly={{true}}
        @validationStatus={{if this.errors.dayOfBirth "error" "default"}}
        {{on "focusout" (fn this.triggerInputDayValidation "dayOfBirth" this.dayOfBirth)}}
        {{on "input" this.handleDayOfBirthInput}}
      >
        <:label>{{t "pages.join.fields.birthdate.day-label"}}</:label>
      </PixInput>

      <PixInput
        type="text"
        @value={{this.monthOfBirth}}
        placeholder={{t "pages.join.fields.birthdate.month-format"}}
        @screenReaderOnly={{true}}
        @validationStatus={{if this.errors.monthOfBirth "error" "default"}}
        {{on "focusout" (fn this.triggerInputMonthValidation "monthOfBirth" this.monthOfBirth)}}
        {{on "input" this.handleMonthOfBirthInput}}
      >
        <:label>{{t "pages.join.fields.birthdate.month-label"}}</:label>
      </PixInput>

      <PixInput
        type="text"
        @value={{this.yearOfBirth}}
        placeholder={{t "pages.join.fields.birthdate.year-format"}}
        @screenReaderOnly={{true}}
        @validationStatus={{if this.errors.yearOfBirth "error" "default"}}
        {{on "focusout" (fn this.triggerInputYearValidation "yearOfBirth" this.yearOfBirth)}}
        {{on "input" this.handleYearOfBirthInput}}
      >
        <:label>{{t "pages.join.fields.birthdate.year-label"}}</:label>
      </PixInput>
    </div>
    {{#if this.errors.dayOfBirth}}
      <div class="join-restricted-campaign__field-error" role="alert">{{this.errors.dayOfBirth}}</div>
    {{/if}}
    {{#if this.errors.monthOfBirth}}
      <div class="join-restricted-campaign__field-error" role="alert">{{this.errors.monthOfBirth}}</div>
    {{/if}}
    {{#if this.errors.yearOfBirth}}
      <div class="join-restricted-campaign__field-error" role="alert">{{this.errors.yearOfBirth}}</div>
    {{/if}}
  </div>

  {{#if this.errors.global}}
    <div class="join-restricted-campaign__error" aria-live="polite">{{this.errors.global}}</div>
  {{/if}}

  <PixButton @type="submit" @triggerAction={{this.submit}} class="join-restricted-campaign__button">
    {{t "pages.join.button"}}
  </PixButton>
</form>