{{page-title "Campagne " @model.name}}

<header class="page-header">
  <Campaigns::Breadcrumb @campaign={{@model}} />
</header>

<main class="page-body">
  {{#if this.isEditMode}}
    <Campaigns::Update @campaign={{@model}} @onExit={{this.toggleEditMode}} />
  {{else}}
    <Campaigns::Details @campaign={{@model}} @toggleEditMode={{this.toggleEditMode}} />
  {{/if}}

  {{outlet}}
</main>