{{page-title (t "pages.campaign-landing.title")}}

<div class="background-banner-wrapper">
  <main class="campaign-landing-page__container" role="main">
    {{#if this.isAutonomousCourse}}
      <AutonomousCourse::LandingPageStartBlock
        @campaign={{@model}}
        @startCampaignParticipation={{this.startCampaignParticipation}}
      />
    {{else}}
      <CampaignStartBlock @campaign={{@model}} @startCampaignParticipation={{this.startCampaignParticipation}} />
    {{/if}}

    {{#if this.shouldDisplayLanguageSwitcher}}
      <div>
        <LanguageSwitcher @selectedLanguage={{this.selectedLanguage}} @onLanguageChange={{this.onLanguageChange}} />
      </div>
    {{/if}}
  </main>
</div>