<form {{on "submit" this.authenticate}} class="login-form">
  <PixInput
    @id="login"
    @value={{this.login}}
    {{on "input" this.handleLoginInput}}
    @requiredLabel={{true}}
    type="text"
    autocomplete="username"
  >
    <:label>{{t "pages.login-or-register.login-form.fields.login.label"}}</:label>
  </PixInput>

  <PixInputPassword
    @id="password"
    @value={{this.password}}
    {{on "input" this.handlePasswordInput}}
    autocomplete="current-password"
    @requiredLabel={{true}}
  >
    <:label>{{t "pages.login-or-register.login-form.fields.password.label"}}</:label>
  </PixInputPassword>

  <PixButton id="submit-connexion" @type="submit" @isLoading={{this.isLoading}}>
    {{t "pages.login-or-register.login-form.button"}}
  </PixButton>

  {{#if this.errorMessage}}
    <div id="update-form-error-message" class="login-form__error-message error-message">{{this.errorMessage}}</div>
  {{/if}}
</form>

<div class="login-form__forgotten-password">
  <span>{{t "pages.login-or-register.login-form.forgotten-password.instruction"}}</span>
  <ul>
    <li>{{t "pages.login-or-register.login-form.forgotten-password.email"}}
      <LinkTo
        id="link_password-reset-demand"
        @route="password-reset-demand"
        target="_blank"
        rel="noopener noreferrer"
        class="link"
      >
        {{t "pages.login-or-register.login-form.forgotten-password.reset-link"}}
      </LinkTo>
    </li>
    <li>
      {{t "pages.login-or-register.login-form.forgotten-password.other-identity"}}
    </li>
  </ul>
</div>