{{#if @studentList}}

  <div class="add-student-list__filters">
    <span>{{t "pages.sco.enrol-candidates-in-session.list.table.filter.title"}}</span>
    <PixMultiSelect
      @emptyMessage={{this.emptyMessage}}
      @id="add-student-list__multi-select"
      @onChange={{this.selectDivision}}
      @placeholder={{t "pages.sco.enrol-candidates-in-session.list.table.filter.placeholder"}}
      @isSearchable={{true}}
      @screenReaderOnly={{true}}
      @values={{this.selectedDivisions}}
      @options={{@certificationCenterDivisions}}
    >
      <:label>{{t "pages.sco.enrol-candidates-in-session.list.table.filter.extra-information"}}</:label>
      <:default as |option|>{{option.label}}</:default>
    </PixMultiSelect>
  </div>

  <PixTable @data={{@studentList}} @variant="certif">
    <:columns as |student context|>
      <PixTableColumn @context={{context}}>
        <:header>
          <PixCheckbox
            @screenReaderOnly={{true}}
            @isIndeterminate={{this.hasPartialState}}
            @checked={{this.hasCheckState}}
            {{on "click" this.toggleAllItems}}
            disabled={{this.isDisabled}}
          >
            <:label>{{t "pages.candidates.add.actions.select-all.label"}}</:label>
          </PixCheckbox>
        </:header>
        <:cell>
          <PixCheckbox
            @screenReaderOnly={{true}}
            @checked={{or student.isSelected student.isEnrolled}}
            disabled={{student.isEnrolled}}
            {{on "click" (fn this.toggleItem student)}}
          >
            <:label>
              {{#if student.isEnrolled}}
                {{t
                  "pages.candidates.add.actions.selected.label"
                  firstName=student.firstName
                  lastName=student.lastName
                }}
              {{else}}
                {{t "pages.candidates.add.actions.select.label" firstName=student.firstName lastName=student.lastName}}
              {{/if}}
            </:label>
          </PixCheckbox>
        </:cell>
      </PixTableColumn>
      <PixTableColumn @context={{context}}>
        <:header>
          {{t "pages.sco.enrol-candidates-in-session.list.table.division"}}
        </:header>
        <:cell>
          {{student.division}}
        </:cell>
      </PixTableColumn>
      <PixTableColumn @context={{context}}>
        <:header>
          {{t "pages.sco.enrol-candidates-in-session.list.table.last-name"}}
        </:header>
        <:cell>
          {{student.lastName}}
        </:cell>
      </PixTableColumn>
      <PixTableColumn @context={{context}}>
        <:header>
          {{t "pages.sco.enrol-candidates-in-session.list.table.first-name"}}
        </:header>
        <:cell>
          {{student.firstName}}
        </:cell>
      </PixTableColumn>
      <PixTableColumn @context={{context}}>
        <:header>
          {{t "pages.sco.enrol-candidates-in-session.list.table.birthdate"}}
        </:header>
        <:cell>
          {{dayjs-format student.birthdate "DD/MM/YYYY"}}
        </:cell>
      </PixTableColumn>
    </:columns>
  </PixTable>

  <PixPagination @pagination={{@studentList.meta}} />

  {{#if this.showStickyBar}}
    <div class="add-student-list__bottom-action-bar">

      <div class="bottom-action-bar__information">
        <p class="bottom-action-bar__information--candidates-selected">
          {{#if this.numberOfStudentsSelected}}
            {{this.numberOfStudentsSelected}}
            {{t "pages.sco.enrol-candidates-in-session.list.action-bar.candidate-selected"}}
          {{else}}
            {{t "pages.sco.enrol-candidates-in-session.list.action-bar.no-candidate-selected"}}
          {{/if}}
        </p>
        <span class="bottom-action-bar__separator"></span>
        <p class="bottom-action-bar__information--candidates-already-added">
          {{this.numberOfStudentsAlreadyCandidate}}
          {{t "pages.sco.enrol-candidates-in-session.list.action-bar.candidate-already-enrolled"}}
        </p>
      </div>

      <div class="bottom-action-bar__actions">
        <PixButtonLink
          @variant="secondary"
          @isBorderVisible={{true}}
          @route="authenticated.sessions.details.certification-candidates"
          @model={{@session.id}}
        >
          {{t "common.actions.cancel"}}
        </PixButtonLink>
        <PixButton
          @triggerAction={{this.enrolStudents}}
          type="button"
          @isDisabled={{this.shouldDisableAddButton}}
          class="bottom-action-bar__actions--add-button"
        >
          Inscrire
        </PixButton>
      </div>
    </div>
  {{/if}}
{{/if}}