<div role="tabpanel">
  <MembersTable
    @members={{@members}}
    @hasCleaHabilitation={{@hasCleaHabilitation}}
    @onLeaveCertificationCenterButtonClicked={{this.openLeaveCertificationCenterModal}}
    @onRemoveMemberButtonClicked={{this.openRemoveMemberModal}}
    @onChangeMemberRoleButtonClicked={{this.openChangeMemberRoleModal}}
  />
</div>

<Team::Modal::LeaveCertificationCenter
  @certificationCenterName={{this.currentUser.currentAllowedCertificationCenterAccess.name}}
  @isOpen={{this.isLeaveCertificationCenterModalOpen}}
  @onClose={{this.closeLeaveCertificationCenterModal}}
  @onSubmit={{this.leaveCertificationCenter}}
/>

<Team::Modal::RemoveMemberModal
  @firstName={{this.removingMember.firstName}}
  @lastName={{this.removingMember.lastName}}
  @isOpen={{this.isRemoveMemberModalOpen}}
  @onSubmit={{this.removeMember}}
  @onClose={{this.closeRemoveMemberModal}}
/>

<Team::Modal::ChangeMemberRoleModal
  @member={{this.member}}
  @isOpen={{this.isChangeMemberRoleModalOpen}}
  @onSubmit={{this.changeMemberRole}}
  @onClose={{this.closeChangeMemberRoleModal}}
/>