<header class="page-header">
  <Organizations::Breadcrumb @currentPageLabel={{@model.name}} />
</header>

<main class="page-body" id="organizations-get-page">

  <Organizations::InformationSection
    @organization={{@model}}
    @onLogoUpdated={{this.updateOrganizationInformation}}
    @onSubmit={{this.updateOrganizationInformation}}
    @archiveOrganization={{this.archiveOrganization}}
  />

  <PixTabs @variant="primary" @ariaLabel="Navigation de la section organisation" class="navigation">

    {{#unless @model.isArchived}}
      <LinkTo @route="authenticated.organizations.get.team" @model={{@model}}>
        Équipe
      </LinkTo>

      <LinkTo @route="authenticated.organizations.get.invitations" @model={{@model}}>
        Invitations
      </LinkTo>
    {{/unless}}

    <LinkTo @route="authenticated.organizations.get.target-profiles" @model={{@model}}>
      Profils cibles
    </LinkTo>

    <LinkTo @route="authenticated.organizations.get.campaigns" @model={{@model}}>
      Campagnes
    </LinkTo>

    <LinkTo @route="authenticated.organizations.get.places" @model={{@model}}>
      Places
    </LinkTo>
    {{#if this.accessControl.hasAccessToOrganizationActionsScope}}
      <LinkTo @route="authenticated.organizations.get.all-tags" @model={{@model}}>
        Tags
      </LinkTo>
    {{/if}}
    <LinkTo @route="authenticated.organizations.get.children" @model={{@model}}>
      {{t "pages.organization.navbar.children"}}
      ({{@model.children.length}})
    </LinkTo>
  </PixTabs>

  {{outlet}}
</main>