{{page-title "Nouvelle orga"}}
<header class="page-header">
  {{#if this.parentOrganizationName}}
    <Organizations::Breadcrumb @currentPageLabel="Nouvelle organisation fille" />
  {{else}}
    <Organizations::Breadcrumb @currentPageLabel="Nouvelle organisation" />
  {{/if}}
</header>

<main class="main-admin-form">
  <Organizations::CreationForm
    @organization={{@model}}
    @onSubmit={{this.addOrganization}}
    @onCancel={{this.goBackToOrganizationList}}
    @parentOrganizationName={{this.parentOrganizationName}}
  />
</main>