{{page-title (t "navigation.error")}}

<Global::AppLayout>
  <div class="error-page">
    <PixBlock class="error-page__body-section">
      <div class="error-page__main-content">
        <h1 class="error-page__main-content__title">{{t "pages.error.first-title"}}</h1>
        {{t "pages.error.content-text" htmlSafe=true}}
        <PixButtonLink
          @route="authentication.login"
          @size="large"
          aria-label={{t "navigation.back-to-homepage"}}
          class="error-page__main-content__button-link"
        >
          {{t "navigation.back-to-homepage"}}
        </PixButtonLink>
      </div>
      <div class="error-page__error">
        <p class="error-page__error-title">{{this.errorTitle}}</p>
        <p>{{this.errorStatus}}</p>
        <p>{{this.errorMessage}}</p>
      </div>
    </PixBlock>
  </div>
</Global::AppLayout>