{{page-title (t "pages.fill-in-campaign-code.title")}}

<div class="pix-communication-banner">
  <DataProtectionPolicyInformationBanner />
</div>
<Global::AppLayout>
  <main id="main" class="main global-page-container" role="main">
    <CampaignCodeForm
      @isUserAuthenticatedByPix={{this.isUserAuthenticatedByPix}}
      @isUserAuthenticatedByGAR={{this.isUserAuthenticatedByGAR}}
      @startCampaign={{this.startCampaign}}
      @onLanguageChange={{this.onLanguageChange}}
      @selectedLanguage={{this.selectedLanguage}}
      @apiErrorMessage={{this.apiErrorMessage}}
      @clearErrors={{this.clearErrors}}
    />
  </main>

</Global::AppLayout>

<PixModal
  @title={{t "pages.fill-in-campaign-code.mediacentre-start-campaign-modal.title"}}
  @onCloseButtonClick={{this.closeModal}}
  @showModal={{this.showGARModal}}
>
  <:content>
    <p>
      {{t "pages.fill-in-campaign-code.mediacentre-start-campaign-modal.message"}}
      <p class="pix-body-s">
        <div><b>{{this.campaign.targetProfileName}}</b></div>
        {{t "pages.fill-in-campaign-code.mediacentre-start-campaign-modal.organised-by"}}
        <b>{{this.campaign.organizationName}}</b>
      </p>
      <p class="pix-body-s">
        <b>{{t "pages.fill-in-campaign-code.mediacentre-start-campaign-modal.message-footer"}}</b>
      </p>
    </p>
  </:content>

  <:footer>
    <div class="mediacentre-start-campaign-modal__action-buttons">
      <LinkTo
        class="mediacentre-start-campaign-modal-action-buttons__continue-action"
        @route="campaigns.entry-point"
        @model={{this.campaign.code}}
      >
        {{t "pages.fill-in-campaign-code.mediacentre-start-campaign-modal.actions.continue"}}
      </LinkTo>
      <PixButton @triggerAction={{this.closeModal}}>
        {{t "pages.fill-in-campaign-code.mediacentre-start-campaign-modal.actions.quit"}}
      </PixButton>
    </div>
  </:footer>
</PixModal>