{{page-title (t "pages.shared-certification.title")}}

<PixBackgroundHeader class="user-certifications-page-get">

  <PixReturnTo @route="fill-in-certificate-verification-code" @shade="neutral-light">
    {{t "pages.shared-certification.back-link"}}
  </PixReturnTo>

  <PixBlock class="user-certifications-page-get__header">
    <UserCertificationsDetailHeader @certification={{this.model}} />
  </PixBlock>

  <div class="user-certifications-page-get__details-body">
    <UserCertificationsDetailCompetencesList
      @resultCompetenceTree={{this.model.resultCompetenceTree}}
      @maxReachableLevelOnCertificationDate={{this.model.maxReachableLevelOnCertificationDate}}
    />
    {{#if this.shouldDisplayDetailsSection}}
      <UserCertificationsDetailResult @certification={{@model}} />
    {{/if}}
  </div>

</PixBackgroundHeader>