{{page-title (t "pages.login.title")}}
<main class="login-page">
  <div>
    <PixBlock class="login-page__container">
      <header class="login-page__header">
        <img src="/pix-orga-color.svg" alt="Pix Orga" />
        <Ui::PageTitle @centerTitle={{true}}>
          <:title>
            {{t "pages.login.title"}}
          </:title>
        </Ui::PageTitle>

      </header>

      <Auth::LoginForm
        @isWithInvitation={{false}}
        @hasInvitationAlreadyBeenAccepted={{this.hasInvitationAlreadyBeenAccepted}}
        @isInvitationCancelled={{this.isInvitationCancelled}}
      />
    </PixBlock>

    {{#if this.isInternationalDomain}}
      <LanguageSwitcher @selectedLanguage={{this.selectedLanguage}} @onLanguageChange={{this.onLanguageChange}} />
    {{/if}}
  </div>
</main>