{{page-title this.campaignName}}
{{page-title (t "pages.campaign-modification.title")}}

<div>
  <Ui::PageTitle>
    <:title>{{t "pages.campaign-modification.title"}}</:title>
    <:subtitle>
      <h2 class="page-sub-title">{{this.campaignName}}</h2>
    </:subtitle>
  </Ui::PageTitle>

  <Campaign::UpdateForm
    @campaign={{@model.campaign}}
    @onSubmit={{this.update}}
    @onCancel={{this.cancel}}
    @membersSortedByFullName={{@model.membersSortedByFullName}}
  />
</div>