<td class="table__column--center">
  <PixCheckbox
    @screenReaderOnly={{true}}
    @id="tube-{{@tube.id}}"
    {{on "click" this.toggleTube}}
    @checked={{this.checked}}
  >
    <:label>
      {{@tube.practicalTitle}}
      :
      {{@tube.practicalDescription}}
    </:label>
  </PixCheckbox>
</td>
<td>
  {{@tube.practicalTitle}}
  :
  {{@tube.practicalDescription}}
</td>
<td class="table__column--center">
  <div
    aria-label="{{if
      @tube.isMobileCompliant
      (t 'pages.preselect-target-profile.table.is-responsive')
      (t 'pages.preselect-target-profile.table.not-responsive')
    }}"
  >
    <PixIcon
      @name="{{if @tube.isMobileCompliant 'mobile' 'mobileOff'}}"
      class="{{if @tube.isMobileCompliant 'is-responsive' 'not-responsive'}}"
    />
  </div>
</td>
<td class="table__column--center">
  <div
    aria-label="{{if
      @tube.isTabletCompliant
      (t 'pages.preselect-target-profile.table.is-responsive')
      (t 'pages.preselect-target-profile.table.not-responsive')
    }}"
  >
    <PixIcon
      @name="{{if @tube.isMobileCompliant 'tablet' 'tabletOff'}}"
      class="{{if @tube.isMobileCompliant 'is-responsive' 'not-responsive'}}"
    />
  </div>
</td>