{{page-title (t "pages.user-account.title")}}

<Global::AppLayout>
  {{#if this.isPixAppNewLayoutEnabled}}
    <main id="main" class="main user-account" role="main">
      <h1 class="user-account__title">{{t "pages.user-account.title"}}</h1>

      <div class="user-account__container">
        <UserAccount::UserAccountNavigation
          @class="user-account__navigation"
          @canSelfDeleteAccount={{@model.accountInfo.canSelfDeleteAccount}}
        />

        <section class="user-account__section">
          {{outlet}}
        </section>
      </div>
    </main>
  {{else}}
    <main id="main" class="main" role="main">
      <PixBackgroundHeader class="user-account-legacy">
        <h1 class="user-account-legacy__title">{{t "pages.user-account.title"}}</h1>

        <div class="user-account-legacy__menu-and-content">
          <UserAccount::UserAccountNavigation
            @class="user-account-legacy__navigation"
            @canSelfDeleteAccount={{@model.accountInfo.canSelfDeleteAccount}}
          />

          <PixBlock class="user-account-legacy__content">
            {{outlet}}
          </PixBlock>
        </div>
      </PixBackgroundHeader>
    </main>
  {{/if}}
</Global::AppLayout>