{{page-title "Modification du profil cible : " @model.targetProfile.internalName}}

<header class="page-header">
  <TargetProfiles::Breadcrumb
    @targetProfile={{@model.targetProfile}}
    @currentPageLabel="Modification du profil cible"
  />
</header>

<main class="main-admin-form">
  <TargetProfiles::EditTargetProfileForm
    @targetProfile={{this.model.targetProfile}}
    @frameworks={{this.model.frameworks}}
    @onSubmit={{this.editTargetProfile}}
    @onCancel={{this.goBackToTargetProfilePage}}
    @updateMode={{true}}
  />
</main>