{{page-title "Nouveau profil cible"}}
<header class="page-header">
  <TargetProfiles::Breadcrumb @currentPageLabel="Nouveau profil cible" />
</header>

<main class="main-admin-form">
  <TargetProfiles::EditTargetProfileForm
    @targetProfile={{this.model.targetProfile}}
    @frameworks={{this.model.frameworks}}
    @onSubmit={{this.createTargetProfile}}
    @onCancel={{this.goBackToTargetProfileList}}
  />
</main>