<p>
  <strong>
    {{this.currentUser.prescriber.firstName}}
    {{this.currentUser.prescriber.lastName}}
  </strong>
  <br />
  {{this.organizationNameAndExternalId}}
</p>
{{#if this.belongsToSeveralOrganizations}}
  <PixStructureSwitcher
    @value={{this.currentUser.organization.id}}
    @structures={{this.eligibleOrganizations}}
    @label={{t "navigation.user-logged-menu.button"}}
    @onChange={{this.onOrganizationChange}}
  />
{{/if}}
<PixButtonLink @variant="tertiary" class="" @route="logout">{{t "navigation.user-logged-menu.logout"}}</PixButtonLink>