<div class="congratulations-banner">
  <p class="congratulations-banner__message">
    {{t "pages.certification-joiner.congratulation-banner.message" fullName=@fullName htmlSafe=true}}
  </p>
  {{yield to="eligibleComplementaryCertifications"}}
  <div class="congratulations-banner__links">
    <a
      href={{t "pages.certification-joiner.congratulation-banner.link.url"}}
      class="congratulations-banner-links__link"
      target="_blank"
      rel="noopener noreferrer"
    >
      {{t "pages.certification-joiner.congratulation-banner.link.text"}}
      <PixIcon @name="openNew" @plainIcon={{true}} @title={{t "navigation.external-link-title"}} />
    </a>
    <LinkTo @route="authenticated.user-certifications" class="congratulations-banner-links__link">{{t
        "pages.certification-start.link-to-user-certification"
      }}
      <PixIcon @name="eye" @plainIcon={{true}} @ariaHidden={{true}} />
    </LinkTo>
  </div>
</div>