{{page-title "Utilisateur " @model.id}}
<header class="page-header">
  <div>
    <LinkTo @route="authenticated.users.list"><span id="link-to-users-page">Tous les utilisateurs</span></LinkTo>
    <span class="wire">&nbsp;>&nbsp;</span>
    <h1>Utilisateur {{@model.id}}</h1>
  </div>
</header>

<main class="page-body">
  <section class="page-section">
    <h1 class="page-section__title">Informations de l'utilisateur</h1>
    <Users::UserOverview @user={{@model}} />
  </section>

  <PixTabs @variant="primary" @ariaLabel="Navigation de la section détails d'un utilisateur" class="navigation">
    <LinkTo @route="authenticated.users.get.information" @model={{@model}}>
      {{t "pages.user-details.navbar.details"}}
    </LinkTo>

    <LinkTo @route="authenticated.users.get.authentication-methods" @model={{@model}}>
      {{t "pages.user-details.navbar.authentication-methods"}}
      ({{@model.authenticationMethodCount}})
    </LinkTo>

    <LinkTo @route="authenticated.users.get.profile" @model={{@model}}>
      {{t "pages.user-details.navbar.profile"}}
    </LinkTo>

    <LinkTo @route="authenticated.users.get.campaign-participations" @model={{@model}}>
      {{t "pages.user-details.navbar.participations-list"}}
      ({{@model.participationCount}})
    </LinkTo>

    <LinkTo
      @route="authenticated.users.get.organizations"
      @model={{@model}}
      aria-label="Organisations de l’utilisateur"
    >
      {{t "pages.user-details.navbar.organizations-list"}}
      ({{@model.organizationMembershipCount}})
    </LinkTo>

    <LinkTo
      @route="authenticated.users.get.certification-center-memberships"
      aria-label="Centres de certification auxquels appartient l´utilisateur"
    >
      {{t "pages.user-details.navbar.certification-centers-list"}}
      ({{@model.certificationCenterMembershipCount}})
    </LinkTo>

    <LinkTo
      @route="authenticated.users.get.cgu"
      @model={{@model}}
      aria-label={{t "pages.user-details.navbar.cgu-aria-label"}}
    >
      {{t "pages.user-details.navbar.cgu"}}
    </LinkTo>
  </PixTabs>

  {{outlet}}
</main>