{{page-title "Utilisateur " @model.id}}
<header class="page-header">
  <Users::Breadcrumb @userId={{@model.id}} />
</header>

<main class="page-body">
  <section class="page-section">
    <h1 class="page-section__title">Informations de l'utilisateur</h1>
    <Users::UserOverview @user={{@model}} />
  </section>

  <PixTabs @variant="primary" @ariaLabel="Navigation de la section détails d'un utilisateur" class="navigation">
    <LinkTo @route="authenticated.users.get.information" @model={{@model}}>
      {{t "pages.user-details.navbar.details"}}
    </LinkTo>

    <LinkTo @route="authenticated.users.get.authentication-methods" @model={{@model}}>
      {{t "pages.user-details.navbar.connections"}}
      ({{@model.authenticationMethodCount}})
    </LinkTo>

    <LinkTo @route="authenticated.users.get.profile" @model={{@model}}>
      {{t "pages.user-details.navbar.profile"}}
    </LinkTo>

    <LinkTo @route="authenticated.users.get.campaign-participations" @model={{@model}}>
      {{t "pages.user-details.navbar.participations-list"}}
      ({{@model.participationCount}})
    </LinkTo>

    <LinkTo
      @route="authenticated.users.get.organizations"
      @model={{@model}}
      aria-label="Organisations de l’utilisateur"
    >
      {{t "pages.user-details.navbar.organizations-list"}}
      ({{@model.organizationMembershipCount}})
    </LinkTo>

    <LinkTo
      @route="authenticated.users.get.certification-center-memberships"
      aria-label={{t "pages.user-details.navbar.certification-centers-list-aria-label"}}
    >
      {{t "pages.user-details.navbar.certification-centers-list"}}
    </LinkTo>

    <LinkTo @route="authenticated.users.get.certification-courses">
      {{t "pages.user-details.navbar.certification-courses"}}
    </LinkTo>

    <LinkTo
      @route="authenticated.users.get.cgu"
      @model={{@model}}
      aria-label={{t "pages.user-details.navbar.cgu-aria-label"}}
    >
      {{t "pages.user-details.navbar.cgu"}}
    </LinkTo>
  </PixTabs>

  {{outlet}}
</main>