{{page-title (t "pages.users-list.page-title")}}

<h1>{{t "pages.users-list.main-title"}}</h1>

<Users::FilterBanner
  @idForm={{this.idForm}}
  @firstNameForm={{this.firstNameForm}}
  @lastNameForm={{this.lastNameForm}}
  @emailForm={{this.emailForm}}
  @usernameForm={{this.usernameForm}}
  @queryTypeForm={{this.queryTypeForm}}
  @refreshUsersList={{this.refreshUsersList}}
  @onChangeQueryType={{this.onChangeQueryType}}
  @queryTypes={{this.queryTypes}}
  @onChangeUserId={{this.onChangeUserId}}
  @onChangeFirstName={{this.onChangeFirstName}}
  @onChangeLastName={{this.onChangeLastName}}
  @onChangeEmail={{this.onChangeEmail}}
  @onChangeUsername={{this.onChangeUsername}}
  @clearSearchFields={{this.clearSearchFields}}
/>

<Users::ListItems
  @users={{@model}}
  @firstName={{this.firstName}}
  @lastName={{this.lastName}}
  @email={{this.email}}
  @username={{this.username}}
/>