{{page-title this.pageTitle replace=true}}
<div class="add-student">
  <PixButtonLink
    @route="authenticated.sessions.details.certification-candidates"
    @model={{@model.session.id}}
    @variant="tertiary"
    @iconBefore="arrowLeft"
    class="previous-button hide-on-mobile"
  >
    {{t "common.sessions.actions.return-to"}}
  </PixButtonLink>

  <h1 class="page-title">{{t "pages.sco.enrol-candidates-in-session.title"}}</h1>
  <PixNotificationAlert @type="info" @withIcon={{true}} class="add-student__info-message">
    {{t "pages.sco.enrol-candidates-in-session.information" htmlSafe=true}}
    <a href={{this.supportUrl}} target="_blank" rel="noopener noreferrer">
      {{t "pages.sco.enrol-candidates-in-session.link-label"}}
      <span class="screen-reader-only">{{t "navigation.external-link-title"}}</span>
    </a>
  </PixNotificationAlert>

  <AddStudentList
    @studentList={{@model.students}}
    @session={{@model.session}}
    @numberOfEnrolledStudents={{@model.numberOfEnrolledStudents}}
    @certificationCenterDivisions={{@model.certificationCenterDivisions}}
    @returnToSessionCandidates={{this.returnToSessionCandidates}}
    @selectedDivisions={{@model.selectedDivisions}}
  />
</div>