<section class="page-section">
  <Users::Cgu
    @cgu={{@model.cgu}}
    @pixOrgaTermsOfServiceAccepted={{@model.pixOrgaTermsOfServiceAccepted}}
    @pixCertifTermsOfServiceAccepted={{@model.pixCertifTermsOfServiceAccepted}}
    @lastTermsOfServiceValidatedAt={{@model.lastTermsOfServiceValidatedAt}}
    @lastPixOrgaTermsOfServiceValidatedAt={{@model.lastPixOrgaTermsOfServiceValidatedAt}}
    @lastPixCertifTermsOfServiceValidatedAt={{@model.lastPixCertifTermsOfServiceValidatedAt}}
  />
</section>