{{page-title "Children"}}
{{#if this.accessControl.hasAccessToAttachChildOrganizationActionsScope}}
  <section class="page-section">
    <div class="content-text content-text--small">
      <Organizations::Children::AttachChildForm @onFormSubmitted={{this.handleFormSubmitted}} />
    </div>
  </section>
{{/if}}
<section class="page-section">
  <header class="page-section__header">
    <h2 class="page-section__title">{{t "pages.organization-children.title"}}</h2>
  </header>
  {{#if @model.children}}
    <Organizations::Children::List @organizations={{@model.children}} />

  {{else}}
    <p class="table__empty">{{t "pages.organization-children.empty-table"}}</p>
  {{/if}}

</section>