{{page-title "Nouveau contenu formatif"}}
<header class="page-header">
  <div>
    <LinkTo @route="authenticated.trainings.list">Tous les contenus formatifs</LinkTo>
    <PixIcon @name="chevronRight" @ariaHidden={{true}} />
    <h1>Création du contenu</h1>
  </div>
  <div class="page-actions">
    <a
      class="page-actions__link"
      href="https://1024pix.atlassian.net/wiki/spaces/PROD/pages/3753476097/Cr+er+un+contenu+formatif+Mode+d+emploi"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Consulter la documentation de création de contenus formatifs (ouverture dans une nouvelle fenêtre)"
    >
      Consulter la documentation
      <PixIcon @name="openNew" @ariaHidden={{true}} />
    </a>
  </div>
</header>

<main class="main-admin-form">
  <Trainings::CreateOrUpdateTrainingForm
    @onSubmit={{this.createOrUpdateTraining}}
    @onCancel={{this.goBackToTrainingList}}
  />
</main>