{{! template-lint-disable no-action }}
{{page-title "Session " @model.id " Certifications | Pix Admin" replace=true}}
<section class="certification-list-page">

  <Sessions::Certifications::Header
    @session={{this.model.session}}
    @juryCertificationSummaries={{this.model.juryCertificationSummaries}}
    @unpublishSession={{this.unpublishSession}}
    @publishSession={{this.publishSession}}
  />

  <Sessions::Certifications::List
    @juryCertificationSummaries={{this.model.juryCertificationSummaries}}
    @pagination={{this.model.juryCertificationSummaries.meta}}
  />
</section>