{{! template-lint-disable require-input-label }}
{{page-title "Session " @model.id}}
<header class="page-header">
  <Sessions::Breadcrumb @sessionId={{@model.id}} />
  <div class="page-actions">
    <form class="form-inline" {{on "submit" this.loadSession}}>
      <PixInput
        placeholder="Identifiant"
        aria-label="Rechercher une session avec un identifiant"
        @type="text"
        @value={{this.inputId}}
        {{on "input" this.onChangeInputId}}
      />
      <PixButton @size="small" @type="submit">Charger</PixButton>
    </form>
  </div>
</header>

<main class="page-body">
  <PixTabs @variant="primary" @ariaLabel="Navigation de la section détails d'une session" class="navigation">
    <LinkTo @route="authenticated.sessions.session.informations" @model={{@model.id}}>
      Informations
    </LinkTo>
    <LinkTo
      @route="authenticated.sessions.session.certifications"
      @model={{@model.id}}
      aria-label="Liste des certifications de la session"
    >
      Certifications
    </LinkTo>
    <LinkTo
      @route="authenticated.sessions.session.candidates"
      @model={{@model.id}}
      aria-label="Liste des inscrits en certif"
    >
      Candidats
    </LinkTo>
  </PixTabs>
  {{outlet}}
</main>